#mapbox {
    overflow: hidden;
    overflow-x: auto;
}
text.place-label {
    /*
    stroke-width:1px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
     */
    font-size: 12px;
    opacity: 0.9;
    user-select: none;
}
text:hover {
    cursor: pointer;
}
.district {
    stroke: #fff;
    opacity: 0.8;
    stroke-width: 1;
}
.district:hover {
    cursor: pointer;
    stroke: #000;
    stroke-dasharray: 5px
}

.district-plain {
    stroke: #afafaf;
    stroke-dasharray: 5px
}
button {
    outline: none !important;
    box-shadow: none !important;
}
button:focus {
    outline: none !important;
}

.right-card {
    width: 18rem;
    position: absolute;
    bottom: 25px;
    right: 10px;
}

.map-title {
    position: absolute;
    bottom: 25px;
    width: 50%
}

.header-buttons {

}

.bubbles {
    fill-opacity: 0.5;
    stroke-width: 2px;
    stroke: #fff;
}

@media (max-width: 767.98px) {
    .map-title {
        position: relative;
        margin-top: 15px;
        width: 100%;
    }
    .right-card {
        position: relative;
        margin-top: 15px;
        width: 100%;
    }

    .header-buttons {
        display: flex;
        flex-direction: column;
        width:100px;
    }

    text.place-label {
        font-size: 10px !important;
    }

}